/* ---- Category ---- */
/* ---- Category ---- */
/* ---- Category ---- */

.category__right {
    padding-left: 50px;
    border-left: 1px solid #ECECEC;
}

.list-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    column-gap: 50px;
}

.list-posts__item-first {
    grid-column: span 2;
}

.list-posts__item-first .list-posts__thumb-wrap {
    padding-top: 50%;
}

.list-posts__thumb-wrap {
    display: inline-block;
    position: relative;
    padding-top: 65%;
    width: 100%;
    margin-bottom: 15px;
}

.list-posts__thumb-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

.list-posts__content {
    padding-left: 25px;
    padding-right: 15px;
}

.list-posts__content .post-categories li {
    display: inline-block;
}

.list-posts__content .post-categories li a {
    font-family: var(--font-second-bold);
    font-size: 14px;
    line-height: 1.5;
    color: #60A00C;
    display: inline-block;
    margin-bottom: 10px;
}

.list-posts__item-title {
    display: inline-block;
    
    font-family: var(--font-second-bold);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.list-posts__item-excerpt {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.list-posts__item {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ECECEC;
}

.list-posts__item-group {
    font-size: 12px;
    color: #888888;
}

.list-posts__delimiter {
    display: inline-block;
    padding: 0 10px
}

.list-posts__item-date {
    line-height: 12px;
    display: inline-block;
}

.list-posts__item-date::before {
    content: '';
    background-image: url('../../images/Icon-date.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

.list-posts__item-author {
    line-height: 12px;
    display: inline-block;
}

.list-posts__item-author::before {
    content: '';
    background-image: url('../../images/author.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

.list-posts__item-author b {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.list-posts__item-comment {
    line-height: 12px;
    display: inline-block;
}

.list-posts__item-comment::before {
    content: '';
    background-image: url('../../images/comment-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

/* ---- Single ---- */
/* ---- Single ---- */
/* ---- Single ---- */

.single__header {
    position: relative;
    width: 100%;
    padding-top: 30%;
}

.single__header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

.single__content-main {
    font-family: var(--font-third-rgl);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

.single__content-main p {
    margin-bottom: 10px;
}

.single__content-main blockquote {
    padding: 20px 20px 20px 65px;
    background-color: #F5F5F5;
    position: relative;
    margin-left: 15px;
    margin-block-start: 15px;
}

.single__content-main blockquote::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -15px;
    width: 60px;
    height: 60px;
    background-image: url('../../images/qoute-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.single__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-top: 3px solid #60A00C;
    background-color: #F5F5F5;
}

.single__nav > div[class^="single__nav"] {
    width: 50%;
}

.single__nav a[rel="next"] ,
.single__nav a[rel="prev"] {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.single__nav a[rel="next"]::before {
    content: '<<';
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    font-weight: initial;
   
    position: relative;
    bottom: 1px;
}

.single__nav a[rel="prev"]::after {
    content: '>>';
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    font-weight: initial;
   
    position: relative;
    bottom: 1px;
}

.single__nav-title {
    max-width: 310px;
    font-family: var(--font-second-bold);
    font-size: 14px;
    line-height: 1.5;
}

.single__nav-next {
    text-align: right;
}

.single__nav-next .single__nav-title {
    margin-left: auto;
}